practising pandas

In [1]:
# Import the pandas library, which is essential for data manipulation and analysis.
import pandas as pd

In [3]:
# Load data from a CSV file into a pandas DataFrame.
df = pd.read_csv('new_csv.csv')

In [4]:
# Get the dimensions (rows, columns) of the DataFrame.
df.shape

(6000, 21)

In [5]:
# Display the first 5 rows of the DataFrame to get a quick overview of the data.
df.head()

In [6]:
# Generate descriptive statistics for the numerical columns in the DataFrame.
df.describe()

In [8]:
# Get a concise summary of the DataFrame, including data types and non-null values.
df.info()

In [11]:
# Get a list of all column names in the DataFrame.
df.columns

In [14]:
# Remove the 'Unnamed: 0' column from the DataFrame.
df.drop(columns=['Unnamed: 0'], inplace=True)

In [16]:
# Verify the new shape of the DataFrame after dropping the column.
df.shape

In [17]:
# Display the updated list of column names.
df.columns

In [31]:
# Select and display a subset of columns from the DataFrame.
df[['customer_id','city','dish_name']]

In [44]:
# Select rows 0-10 and columns at index 3, 8, and 11 using iloc.
df.iloc[0:11,[3,8,11]]

In [42]:
# Select rows 0-11 and specific columns by name using loc.
df.loc[0:11,['city','dish_name','price']]

In [48]:
# Access a single value by label using .at.
df.at[2,'city']

In [49]:
# Access a single value by integer position using .iat.
df.iat[2,3]

In [58]:
# Create a new column 'new_age' by mapping values from the 'age' column.
new_age = {'Adult':25,'Senior':60,'Teenage':15}
df['new_age'] = df['age'].map(new_age)

In [60]:
# Import the numpy library for numerical operations.
import numpy as np

In [67]:
# Convert the 'new_age' column to a NumPy array with a specific data type.
np.array(df['new_age'], dtype = 'int32')

In [71]:
# Filter the DataFrame for rows where 'new_age' is greater than 18 and 'rating' is greater than 3.
df[(df['new_age'] > 18)  & (df['rating']> 3)]

In [72]:
# Use the query() method to perform the same filtering operation.
df.query('new_age > 20 and rating >3')

In [106]:
# Check for and count the number of missing values in the 'new_age' column.
df['new_age'].isna().sum()

In [121]:
# Count the number of times 'Cash' appears in the 'payment_method' column.
(df['payment_method'] == 'Cash').sum()

In [122]:
# Count the number of times 'KFC' appears in the 'restaurant_name' column.
(df['restaurant_name'] == 'KFC').sum()