data transformation using pandas

In [48]:
import pandas as pd

In [49]:
df = pd.read_csv('new_csv.csv')

In [50]:
df.head()

,Unnamed: 0,customer_id,gender,age,city,signup_date,order_id,order_date,restaurant_name,dish_name,...,quantity,price,payment_method,order_frequency,last_order_date,loyalty_points,churned,rating,rating_date,delivery_status
0,0,C5663,Male,Adult,Peshawar,1/14/2024,O9663,8/23/2023,McDonald's,Burger,...,5,1478.27,Cash,38,7/19/2025,238,Active,3,10/14/2024,Cancelled
1,1,C2831,Male,Adult,Multan,7/7/2024,O6831,8/23/2023,KFC,Burger,...,3,956.04,Wallet,24,11/25/2024,81,Active,2,8/21/2025,Delayed
2,2,C2851,Other,Senior,Multan,6/20/2025,O6851,8/23/2023,Pizza Hut,Fries,...,2,882.51,Cash,42,5/10/2025,82,Inactive,3,9/19/2024,Delayed
3,3,C1694,Female,Senior,Peshawar,9/5/2023,O5694,8/23/2023,Subway,Pizza,...,4,231.30,Card,27,7/24/2025,45,Inactive,2,6/29/2025,Delayed
4,4,C4339,Other,Senior,Lahore,12/29/2023,O8339,8/24/2023,KFC,Sandwich,...,1,1156.69,Cash,35,12/21/2024,418,Inactive,3,3/6/2025,Cancelled

In [51]:
df.sort_values('city' , ascending=False)

,Unnamed: 0,customer_id,gender,age,city,signup_date,order_id,order_date,restaurant_name,dish_name,...,quantity,price,payment_method,order_frequency,last_order_date,loyalty_points,churned,rating,rating_date,delivery_status
0,0,C5663,Male,Adult,Peshawar,1/14/2024,O9663,8/23/2023,McDonald's,Burger,...,5,1478.27,Cash,38,7/19/2025,238,Active,3,10/14/2024,Cancelled
3696,3696,C5794,Male,Teenager,Peshawar,8/6/2025,O9794,11/12/2024,KFC,Pizza,...,3,760.32,Wallet,18,8/2/2025,334,Active,1,9/13/2024,Delivered
1204,1204,C6859,Other,Senior,Peshawar,10/23/2023,O10859,1/13/2024,KFC,Pasta,...,3,278.25,Wallet,44,2/8/2025,315,Inactive,4,11/1/2024,Cancelled
3664,3664,C1000,Female,Teenager,Peshawar,6/14/2024,O5000,11/8/2024,Pizza Hut,Pasta,...,1,1210.10,Wallet,26,4/17/2025,89,Inactive,5,9/30/2024,Cancelled
3666,3666,C3092,Male,Adult,Peshawar,6/16/2025,O7092,11/8/2024,Burger King,Pasta,...,5,915.20,Wallet,39,12/25/2024,217,Active,2,9/28/2024,Delivered
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
787,787,C1932,Other,Senior,Islamabad,10/27/2023,O5932,11/24/2023,Pizza Hut,Burger,...,5,224.54,Card,9,8/2/2025,390,Inactive,2,4/25/2025,Delayed
3063,3063,C3528,Female,Adult,Islamabad,5/20/2025,O7528,8/29/2024,KFC,Fries,...,2,162.61,Cash,10,12/28/2024,366,Inactive,1,11/30/2024,Cancelled
1535,1535,C1250,Male,Senior,Islamabad,10/20/2023,O5250,2/24/2024,Subway,Burger,...,1,624.23,Wallet,19,5/11/2025,214,Active,4,5/25/2025,Delivered
5129,5129,C4671,Male,Senior,Islamabad,12/28/2024,O8671,5/4/2025,McDonald's,Sandwich,...,2,1072.35,Wallet,26,7/9/2025,107,Inactive,2,11/10/2024,Cancelled
941,941,C4593,Male,Teenager,Islamabad,12/20/2023,O8593,12/12/2023,KFC,Pasta,...,2,512.23,Wallet,6,12/2/2024,498,Inactive,2,11/18/2024,Delivered

In [52]:
df2 = df.sort_values(['city','payment_method']).copy()

In [53]:
df2.reset_index(drop=True,inplace=True)

In [54]:
df2

,Unnamed: 0,customer_id,gender,age,city,signup_date,order_id,order_date,restaurant_name,dish_name,...,quantity,price,payment_method,order_frequency,last_order_date,loyalty_points,churned,rating,rating_date,delivery_status
0,12,C4071,Male,Senior,Islamabad,12/27/2024,O8071,8/24/2023,Subway,Pizza,...,1,465.75,Card,29,12/26/2024,394,Active,4,4/16/2025,Cancelled
1,29,C5795,Female,Senior,Islamabad,11/7/2023,O9795,8/26/2023,KFC,Pizza,...,5,1267.20,Card,32,11/10/2024,72,Active,5,10/21/2024,Delayed
2,30,C5513,Male,Teenager,Islamabad,7/20/2025,O9513,8/26/2023,KFC,Pizza,...,3,1044.89,Card,31,9/15/2024,496,Inactive,2,12/27/2024,Delayed
3,31,C6362,Female,Senior,Islamabad,11/22/2023,O10362,8/26/2023,Burger King,Pizza,...,4,343.52,Card,34,9/29/2024,164,Active,3,1/25/2025,Delivered
4,41,C5009,Male,Teenager,Islamabad,3/25/2024,O9009,8/27/2023,Pizza Hut,Pizza,...,3,795.30,Card,15,6/2/2025,179,Inactive,4,1/13/2025,Delayed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,5964,C6477,Male,Adult,Peshawar,10/18/2023,O10477,8/18/2025,Burger King,Pasta,...,2,185.72,Wallet,50,10/30/2024,440,Active,3,2/21/2025,Cancelled
5996,5965,C6560,Male,Senior,Peshawar,7/12/2024,O10560,8/18/2025,Pizza Hut,Burger,...,3,683.25,Wallet,24,11/18/2024,306,Inactive,2,6/15/2025,Delivered
5997,5968,C2655,Other,Senior,Peshawar,1/15/2025,O6655,8/18/2025,Subway,Pizza,...,3,1042.43,Wallet,9,6/7/2025,463,Active,4,1/31/2025,Cancelled
5998,5970,C3043,Female,Adult,Peshawar,3/3/2024,O7043,8/19/2025,Pizza Hut,Pasta,...,3,1402.34,Wallet,8,1/29/2025,355,Inactive,1,6/5/2025,Delayed
5999,5993,C5777,Female,Senior,Peshawar,2/11/2024,O9777,8/22/2025,Pizza Hut,Pasta,...,1,1103.73,Wallet,43,8/21/2025,211,Inactive,1,9/4/2024,Delivered

In [55]:
df2['Rank'] = df['customer_id'].rank(ascending = True,method='dense')

In [84]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [85]:
df

,city,customer_id,gender,age,city,signup_date,order_id,order_date,restaurant_name,dish_name,...,quantity,price,payment_method,order_frequency,last_order_date,loyalty_points,churned,rating,rating_date,delivery_status
0,Peshawar,C5663,Male,Adult,Peshawar,1/14/2024,O9663,8/23/2023,McDonald's,Burger,...,5,1478.27,Cash,38,7/19/2025,238,Active,3,10/14/2024,Cancelled
1,Multan,C2831,Male,Adult,Multan,7/7/2024,O6831,8/23/2023,KFC,Burger,...,3,956.04,Wallet,24,11/25/2024,81,Active,2,8/21/2025,Delayed
2,Multan,C2851,Other,Senior,Multan,6/20/2025,O6851,8/23/2023,Pizza Hut,Fries,...,2,882.51,Cash,42,5/10/2025,82,Inactive,3,9/19/2024,Delayed
3,Peshawar,C1694,Female,Senior,Peshawar,9/5/2023,O5694,8/23/2023,Subway,Pizza,...,4,231.30,Card,27,7/24/2025,45,Inactive,2,6/29/2025,Delayed
4,Lahore,C4339,Other,Senior,Lahore,12/29/2023,O8339,8/24/2023,KFC,Sandwich,...,1,1156.69,Cash,35,12/21/2024,418,Inactive,3,3/6/2025,Cancelled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,Multan,C6849,Male,Adult,Multan,11/25/2024,O10849,8/22/2025,Pizza Hut,Burger,...,4,875.71,Cash,28,11/29/2024,166,Active,5,12/30/2024,Cancelled
5996,Islamabad,C3787,Female,Adult,Islamabad,1/28/2025,O7787,8/22/2025,KFC,Pizza,...,5,1118.26,Cash,12,6/8/2025,193,Inactive,3,2/9/2025,Delayed
5997,Islamabad,C2841,Other,Teenager,Islamabad,10/19/2023,O6841,8/22/2025,KFC,Sandwich,...,4,1005.83,Card,31,12/30/2024,278,Active,4,3/23/2025,Cancelled
5998,Islamabad,C1624,Male,Adult,Islamabad,6/17/2024,O5624,8/22/2025,KFC,Fries,...,4,1226.10,Card,37,12/27/2024,55,Inactive,2,3/15/2025,Delivered
5999,Multan,C2068,Female,Adult,Multan,3/15/2025,O6068,8/22/2025,Burger King,Fries,...,3,1131.27,Card,2,6/13/2025,41,Inactive,1,7/15/2025,Delayed

In [56]:
df2

,Unnamed: 0,customer_id,gender,age,city,signup_date,order_id,order_date,restaurant_name,dish_name,...,price,payment_method,order_frequency,last_order_date,loyalty_points,churned,rating,rating_date,delivery_status,Rank
0,12,C4071,Male,Senior,Islamabad,12/27/2024,O8071,8/24/2023,Subway,Pizza,...,465.75,Card,29,12/26/2024,394,Active,4,4/16/2025,Cancelled,4664.0
1,29,C5795,Female,Senior,Islamabad,11/7/2023,O9795,8/26/2023,KFC,Pizza,...,1267.20,Card,32,11/10/2024,72,Active,5,10/21/2024,Delayed,1832.0
2,30,C5513,Male,Teenager,Islamabad,7/20/2025,O9513,8/26/2023,KFC,Pizza,...,1044.89,Card,31,9/15/2024,496,Inactive,2,12/27/2024,Delayed,1852.0
3,31,C6362,Female,Senior,Islamabad,11/22/2023,O10362,8/26/2023,Burger King,Pizza,...,343.52,Card,34,9/29/2024,164,Active,3,1/25/2025,Delivered,695.0
4,41,C5009,Male,Teenager,Islamabad,3/25/2024,O9009,8/27/2023,Pizza Hut,Pizza,...,795.30,Card,15,6/2/2025,179,Inactive,4,1/13/2025,Delayed,3340.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,5964,C6477,Male,Adult,Peshawar,10/18/2023,O10477,8/18/2025,Burger King,Pasta,...,185.72,Wallet,50,10/30/2024,440,Active,3,2/21/2025,Cancelled,5850.0
5996,5965,C6560,Male,Senior,Peshawar,7/12/2024,O10560,8/18/2025,Pizza Hut,Burger,...,683.25,Wallet,24,11/18/2024,306,Inactive,2,6/15/2025,Delivered,2788.0
5997,5968,C2655,Other,Senior,Peshawar,1/15/2025,O6655,8/18/2025,Subway,Pizza,...,1042.43,Wallet,9,6/7/2025,463,Active,4,1/31/2025,Cancelled,1842.0
5998,5970,C3043,Female,Adult,Peshawar,3/3/2024,O7043,8/19/2025,Pizza Hut,Pasta,...,1402.34,Wallet,8,1/29/2025,355,Inactive,1,6/5/2025,Delayed,625.0
5999,5993,C5777,Female,Senior,Peshawar,2/11/2024,O9777,8/22/2025,Pizza Hut,Pasta,...,1103.73,Wallet,43,8/21/2025,211,Inactive,1,9/4/2024,Delivered,1069.0

In [57]:
cols = ['city'] + [col for col in df.columns if col != ['city']]

In [58]:
df = df[cols]

In [59]:
df

,city,Unnamed: 0,customer_id,gender,age,city,signup_date,order_id,order_date,restaurant_name,...,quantity,price,payment_method,order_frequency,last_order_date,loyalty_points,churned,rating,rating_date,delivery_status
0,Peshawar,0,C5663,Male,Adult,Peshawar,1/14/2024,O9663,8/23/2023,McDonald's,...,5,1478.27,Cash,38,7/19/2025,238,Active,3,10/14/2024,Cancelled
1,Multan,1,C2831,Male,Adult,Multan,7/7/2024,O6831,8/23/2023,KFC,...,3,956.04,Wallet,24,11/25/2024,81,Active,2,8/21/2025,Delayed
2,Multan,2,C2851,Other,Senior,Multan,6/20/2025,O6851,8/23/2023,Pizza Hut,...,2,882.51,Cash,42,5/10/2025,82,Inactive,3,9/19/2024,Delayed
3,Peshawar,3,C1694,Female,Senior,Peshawar,9/5/2023,O5694,8/23/2023,Subway,...,4,231.30,Card,27,7/24/2025,45,Inactive,2,6/29/2025,Delayed
4,Lahore,4,C4339,Other,Senior,Lahore,12/29/2023,O8339,8/24/2023,KFC,...,1,1156.69,Cash,35,12/21/2024,418,Inactive,3,3/6/2025,Cancelled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,Multan,5995,C6849,Male,Adult,Multan,11/25/2024,O10849,8/22/2025,Pizza Hut,...,4,875.71,Cash,28,11/29/2024,166,Active,5,12/30/2024,Cancelled
5996,Islamabad,5996,C3787,Female,Adult,Islamabad,1/28/2025,O7787,8/22/2025,KFC,...,5,1118.26,Cash,12,6/8/2025,193,Inactive,3,2/9/2025,Delayed
5997,Islamabad,5997,C2841,Other,Teenager,Islamabad,10/19/2023,O6841,8/22/2025,KFC,...,4,1005.83,Card,31,12/30/2024,278,Active,4,3/23/2025,Cancelled
5998,Islamabad,5998,C1624,Male,Adult,Islamabad,6/17/2024,O5624,8/22/2025,KFC,...,4,1226.10,Card,37,12/27/2024,55,Inactive,2,3/15/2025,Delivered
5999,Multan,5999,C2068,Female,Adult,Multan,3/15/2025,O6068,8/22/2025,Burger King,...,3,1131.27,Card,2,6/13/2025,41,Inactive,1,7/15/2025,Delayed

In [61]:
sm = pd.read_csv('missing_values_data.csv')

In [62]:
sm.head()

      Name   Age         City Gender              Email   Join Date
0    Alice  25.0     New York      F  alice@example.com  01-05-2021
1  Charlie   NaN        Delhi      M    charlie@example  20-07-2021
2      Bob  30.0  Los Angeles      M    bob@example.com  15-06-2020
3  Charlie   NaN        Delhi      M    charlie@example  20-07-2021
4    David  22.0       Mumbai      M  david@example.com  12-11-2019

In [66]:
sm.sort_values('Name')

      Name   Age         City Gender              Email   Join Date
0    Alice  25.0     New York      F  alice@example.com  01-05-2021
6    Alice  25.0     New York      F  alice@example.com  01-05-2021
7    Alice  25.0     New York      F  alice@example.com  01-05-2021
2      Bob  30.0  Los Angeles      M    bob@example.com  15-06-2020
1  Charlie   NaN        Delhi      M    charlie@example  20-07-2021
3  Charlie   NaN        Delhi      M    charlie@example  20-07-2021
8  Charlie   NaN        Delhi      M    charlie@example  20-07-2021
4    David  22.0       Mumbai      M  david@example.com  12-11-2019
5      NaN  28.0        Delhi      F     eve@domain.com         NaN

In [67]:
sm.reset_index()

   index     Name   Age         City Gender              Email   Join Date
0      0    Alice  25.0     New York      F  alice@example.com  01-05-2021
1      1  Charlie   NaN        Delhi      M    charlie@example  20-07-2021
2      2      Bob  30.0  Los Angeles      M    bob@example.com  15-06-2020
3      3  Charlie   NaN        Delhi      M    charlie@example  20-07-2021
4      4    David  22.0       Mumbai      M  david@example.com  12-11-2019
5      5      NaN  28.0        Delhi      F     eve@domain.com         NaN
6      6    Alice  25.0     New York      F  alice@example.com  01-05-2021
7      7    Alice  25.0     New York      F  alice@example.com  01-05-2021
8      8  Charlie   NaN        Delhi      M    charlie@example  20-07-2021

In [68]:
sm.reset_index(drop=True)

      Name   Age         City Gender              Email   Join Date
0    Alice  25.0     New York      F  alice@example.com  01-05-2021
1  Charlie   NaN        Delhi      M    charlie@example  20-07-2021
2      Bob  30.0  Los Angeles      M    bob@example.com  15-06-2020
3  Charlie   NaN        Delhi      M    charlie@example  20-07-2021
4    David  22.0       Mumbai      M  david@example.com  12-11-2019
5      NaN  28.0        Delhi      F     eve@domain.com         NaN
6    Alice  25.0     New York      F  alice@example.com  01-05-2021
7    Alice  25.0     New York      F  alice@example.com  01-05-2021
8  Charlie   NaN        Delhi      M    charlie@example  20-07-2021

In [69]:
sm

      Name   Age         City Gender              Email   Join Date
0    Alice  25.0     New York      F  alice@example.com  01-05-2021
1  Charlie   NaN        Delhi      M    charlie@example  20-07-2021
2      Bob  30.0  Los Angeles      M    bob@example.com  15-06-2020
3  Charlie   NaN        Delhi      M    charlie@example  20-07-2021
4    David  22.0       Mumbai      M  david@example.com  12-11-2019
5      NaN  28.0        Delhi      F     eve@domain.com         NaN
6    Alice  25.0     New York      F  alice@example.com  01-05-2021
7    Alice  25.0     New York      F  alice@example.com  01-05-2021
8  Charlie   NaN        Delhi      M    charlie@example  20-07-2021

In [77]:
co = ['City']+[l for l in sm.columns if l !=['City']]
# sm = sm[co]

In [78]:
sm = sm[co]

In [79]:
sm

,City,Name,Age,City,Gender,Email,Join Date
0,New York,Alice,25.0,New York,F,alice@example.com,01-05-2021
1,Delhi,Charlie,NaN,Delhi,M,charlie@example,20-07-2021
2,Los Angeles,Bob,30.0,Los Angeles,M,bob@example.com,15-06-2020
3,Delhi,Charlie,NaN,Delhi,M,charlie@example,20-07-2021
4,Mumbai,David,22.0,Mumbai,M,david@example.com,12-11-2019
5,Delhi,NaN,28.0,Delhi,F,eve@domain.com,NaN
6,New York,Alice,25.0,New York,F,alice@example.com,01-05-2021
7,New York,Alice,25.0,New York,F,alice@example.com,01-05-2021
8,Delhi,Charlie,NaN,Delhi,M,charlie@example,20-07-2021

In [89]:
sm['rank'] = sm['Age'].rank(ascending=False,method = 'dense')

/tmp/ipykernel_1132/946961263.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sm['rank'] = sm['Age'].rank(ascending=False,method = 'dense')

In [91]:
sm

,City,Name,Age,City,Gender,Email,Join Date,rank
0,New York,Alice,25.0,New York,F,alice@example.com,01-05-2021,3.0
1,Delhi,Charlie,NaN,Delhi,M,charlie@example,20-07-2021,NaN
2,Los Angeles,Bob,30.0,Los Angeles,M,bob@example.com,15-06-2020,1.0
3,Delhi,Charlie,NaN,Delhi,M,charlie@example,20-07-2021,NaN
4,Mumbai,David,22.0,Mumbai,M,david@example.com,12-11-2019,4.0
5,Delhi,NaN,28.0,Delhi,F,eve@domain.com,NaN,2.0
6,New York,Alice,25.0,New York,F,alice@example.com,01-05-2021,3.0
7,New York,Alice,25.0,New York,F,alice@example.com,01-05-2021,3.0
8,Delhi,Charlie,NaN,Delhi,M,charlie@example,20-07-2021,NaN