### Reshaping Data with Melt and Pivot

First, we import the pandas library, which is essential for working with DataFrames.

In [1]:
import pandas as pd

We start by creating a sample DataFrame in a 'wide' format. Each subject's scores are in separate columns, which is a common way to organize data but can be hard to analyze.

In [2]:
import pandas as pd

# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Math': [85, 78, 92],
    'Science': [90, 82, 89],
    'English': [88, 85, 94]
}

df = pd.DataFrame(data)

# Display the DataFrame
print(df)

      Name  Math  Science  English
0    Alice    85       90       88
1      Bob    78       82       85
2  Charlie    92       89       94

The `melt` function transforms the DataFrame from a wide format to a long format. This is useful for making the data easier to work with in many types of analysis.
- `id_vars` specifies which column to keep as the identifier.
- `value_vars` are the columns to unpivot.
- `var_name` is the name of the new column that holds the subject names.
- `value_name` is the name of the new column for the scores.

In [14]:
df2 = df.melt(id_vars='Name',value_vars=['Math','Science','English'],var_name='subject',value_name='score')

Here is the 'long' or 'melted' DataFrame. Notice how the subjects and scores are now in their own columns, making the data tidy.

In [15]:
df2

      Name  subject  score
0    Alice     Math     85
1      Bob     Math     78
2  Charlie     Math     92
3    Alice  Science     90
4      Bob  Science     82
5  Charlie  Science     89
6    Alice  English     88
7      Bob  English     85
8  Charlie  English     94

The `pivot` function does the opposite of `melt`. It transforms the data from a long format back to a wide format.
- `index` is the column that will become the new index.
- `columns` is the column whose unique values will become the new columns.
- `values` is the column that will provide the values for the new columns.

In [19]:
df2.pivot(index='Name',columns='subject',values='score')

subject  English  Math  Science
Name
Alice         88    85       90
Bob           85    78       82
Charlie       94    92       89