practising pandas

In [1]:
import pandas as pd

Bad pipe message: %s [b' 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Sa']
Bad pipe message: %s [b'ri/537.36\r\nAccept: text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/', b'ng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7\r\nAccept-Encoding: gzip, deflate, br, zstd\r\nA']
Bad pipe message: %s [b'ept-Language: en-US,en;q=0.9,hi;q=0.8,mr;q=0.7\r\nPriority: u=0, i\r\nReferer: https://studio.firebase', b'oogle.com/\r\nSec-Ch-Ua: "Google Chrome";v="141', b' "Not?A_Brand";v="8", "Chromium";']
Bad pipe message: %s [b'"141"\r\nSec-Ch-Ua-Arch: "x86"\r\nSec-Ch-Ua-Bitness: "64"\r\nSec-Ch-Ua-Form-Factors: "Desktop"\r\nSec-Ch-Ua-Full-Version: "14', b'0.7390.66"\r\nSec-Ch-Ua-Full-Version-List: "Google']
Bad pipe message: %s [b'hrome";v="141.0.7390.66", "Not?', b'Brand";v="8.0.0.0", "Chromium";v="141.0.7390.66"\r\nSec-Ch-Ua-Mobi', b': ?0\r\nSec-Ch-Ua-Model: ""\r\nSec-Ch-Ua-Platform: "Windows"\r\nSec-Ch-Ua-Platform-Version: "19.0.0"\r\nSec-Ch-Ua-W', b'64: ?0\r\nSec-Fetch-Dest: iframe\r\nSec-Fetch-Mode: navigate\r\nSec-Fetch-Site: cross-site\r\nSec-Fetch-Storage-Access', b'active\r\nSec-User-Ip: 10.20.20.215\r\nUpgrade-Insecure-Reque']
Bad pipe message: %s [b's: 1\r\nX-Forwarded-Host: 45325-firebase-dsml-ghost-1758779015506.cluster-ancjwrkgr5dvux4qug5rbzyc2y.cloudworkstatio']

In [2]:
df = pd.read_csv('new_csv.csv')

In [3]:
df.shape

(6000, 21)

In [4]:
df.head()

,Unnamed: 0,customer_id,gender,age,city,signup_date,order_id,order_date,restaurant_name,dish_name,...,quantity,price,payment_method,order_frequency,last_order_date,loyalty_points,churned,rating,rating_date,delivery_status
0,0,C5663,Male,Adult,Peshawar,1/14/2024,O9663,8/23/2023,McDonald's,Burger,...,5,1478.27,Cash,38,7/19/2025,238,Active,3,10/14/2024,Cancelled
1,1,C2831,Male,Adult,Multan,7/7/2024,O6831,8/23/2023,KFC,Burger,...,3,956.04,Wallet,24,11/25/2024,81,Active,2,8/21/2025,Delayed
2,2,C2851,Other,Senior,Multan,6/20/2025,O6851,8/23/2023,Pizza Hut,Fries,...,2,882.51,Cash,42,5/10/2025,82,Inactive,3,9/19/2024,Delayed
3,3,C1694,Female,Senior,Peshawar,9/5/2023,O5694,8/23/2023,Subway,Pizza,...,4,231.30,Card,27,7/24/2025,45,Inactive,2,6/29/2025,Delayed
4,4,C4339,Other,Senior,Lahore,12/29/2023,O8339,8/24/2023,KFC,Sandwich,...,1,1156.69,Cash,35,12/21/2024,418,Inactive,3,3/6/2025,Cancelled

In [5]:
df.describe()

,Unnamed: 0,quantity,price,order_frequency,loyalty_points,rating
count,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000
mean,2999.500000,2.991667,800.524880,25.304667,250.173667,2.996833
std,1732.195139,1.414778,404.855029,14.358930,144.608478,1.406113
min,0.000000,1.000000,100.300000,1.000000,0.000000,1.000000
25%,1499.750000,2.000000,441.997500,13.000000,125.000000,2.000000
50%,2999.500000,3.000000,806.460000,25.000000,249.500000,3.000000
75%,4499.250000,4.000000,1149.737500,37.000000,378.000000,4.000000
max,5999.000000,5.000000,1499.950000,50.000000,500.000000,5.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       6000 non-null   int64
 1   customer_id      6000 non-null   object
 2   gender           6000 non-null   object
 3   age              6000 non-null   object
 4   city             6000 non-null   object
 5   signup_date      6000 non-null   object
 6   order_id         6000 non-null   object
 7   order_date       6000 non-null   object
 8   restaurant_name  6000 non-null   object
 9   dish_name        6000 non-null   object
 10  category         6000 non-null   object
 11  quantity         6000 non-null   int64
 12  price            6000 non-null   float64
 13  payment_method   6000 non-null   object
 14  order_frequency  6000 non-null   int64
 15  last_order_date  6000 non-null   object
 16  loyalty_points   6000 non-null   int64
 17  churned          6000 non-null   object
 18  rating           6000 non-null   int64
 19  rating_date      6000 non-null   object
 20  delivery_status  6000 non-null   object
dtypes: float64(1), int64(5), object(15)
memory usage: 984.5+ KB

In [7]:
df.columns

Index(['Unnamed: 0', 'customer_id', 'gender', 'age', 'city', 'signup_date',
       'order_id', 'order_date', 'restaurant_name', 'dish_name', 'category',
       'quantity', 'price', 'payment_method', 'order_frequency',
       'last_order_date', 'loyalty_points', 'churned', 'rating', 'rating_date',
       'delivery_status'],
      dtype='object')

In [8]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [9]:
df.shape

(6000, 20)

In [10]:
df.columns

Index(['customer_id', 'gender', 'age', 'city', 'signup_date', 'order_id',
       'order_date', 'restaurant_name', 'dish_name', 'category', 'quantity',
       'price', 'payment_method', 'order_frequency', 'last_order_date',
       'loyalty_points', 'churned', 'rating', 'rating_date',
       'delivery_status'],
      dtype='object')

In [11]:
df[['customer_id','city','dish_name']]

     customer_id       city dish_name
0          C5663   Peshawar    Burger
1          C2831     Multan    Burger
2          C2851     Multan     Fries
3          C1694   Peshawar     Pizza
4          C4339     Lahore  Sandwich
...          ...        ...       ...
5995       C6849     Multan    Burger
5996       C3787  Islamabad     Pizza
5997       C2841  Islamabad  Sandwich
5998       C1624  Islamabad     Fries
5999       C2068     Multan     Fries

[6000 rows x 3 columns]

In [12]:
df.columns

Index(['customer_id', 'gender', 'age', 'city', 'signup_date', 'order_id',
       'order_date', 'restaurant_name', 'dish_name', 'category', 'quantity',
       'price', 'payment_method', 'order_frequency', 'last_order_date',
       'loyalty_points', 'churned', 'rating', 'rating_date',
       'delivery_status'],
      dtype='object')

In [13]:
df.iloc[0:11,[3,8,11]]

        city dish_name    price
0   Peshawar    Burger  1478.27
1     Multan    Burger   956.04
2     Multan     Fries   882.51
3   Peshawar     Pizza   231.30
4     Lahore  Sandwich  1156.69
5    Karachi     Pizza  1213.62
6     Lahore     Pasta   672.91
7   Peshawar     Pizza   271.74
8    Karachi     Pizza   596.96
9    Karachi     Pizza  1443.25
10    Lahore  Sandwich   645.52

In [14]:
df.loc[0:11,['city','dish_name','price']]

        city dish_name    price
0   Peshawar    Burger  1478.27
1     Multan    Burger   956.04
2     Multan     Fries   882.51
3   Peshawar     Pizza   231.30
4     Lahore  Sandwich  1156.69
5    Karachi     Pizza  1213.62
6     Lahore     Pasta   672.91
7   Peshawar     Pizza   271.74
8    Karachi     Pizza   596.96
9    Karachi     Pizza  1443.25
10    Lahore  Sandwich   645.52
11    Multan    Burger   126.53

In [15]:
df.at[2,'city']

'Multan'

In [16]:
df.iat[2,3]

'Multan'

In [17]:
df.columns

Index(['customer_id', 'gender', 'age', 'city', 'signup_date', 'order_id',
       'order_date', 'restaurant_name', 'dish_name', 'category', 'quantity',
       'price', 'payment_method', 'order_frequency', 'last_order_date',
       'loyalty_points', 'churned', 'rating', 'rating_date',
       'delivery_status'],
      dtype='object')

In [18]:
df.head()

,customer_id,gender,age,city,signup_date,order_id,order_date,restaurant_name,dish_name,category,quantity,price,payment_method,order_frequency,last_order_date,loyalty_points,churned,rating,rating_date,delivery_status
0,C5663,Male,Adult,Peshawar,1/14/2024,O9663,8/23/2023,McDonald's,Burger,Italian,5,1478.27,Cash,38,7/19/2025,238,Active,3,10/14/2024,Cancelled
1,C2831,Male,Adult,Multan,7/7/2024,O6831,8/23/2023,KFC,Burger,Italian,3,956.04,Wallet,24,11/25/2024,81,Active,2,8/21/2025,Delayed
2,C2851,Other,Senior,Multan,6/20/2025,O6851,8/23/2023,Pizza Hut,Fries,Italian,2,882.51,Cash,42,5/10/2025,82,Inactive,3,9/19/2024,Delayed
3,C1694,Female,Senior,Peshawar,9/5/2023,O5694,8/23/2023,Subway,Pizza,Dessert,4,231.30,Card,27,7/24/2025,45,Inactive,2,6/29/2025,Delayed
4,C4339,Other,Senior,Lahore,12/29/2023,O8339,8/24/2023,KFC,Sandwich,Dessert,1,1156.69,Cash,35,12/21/2024,418,Inactive,3,3/6/2025,Cancelled

In [19]:
new_age = {'Adult':25,'Senior':60,'Teenage':15}
df['new_age'] = df['age'].map(new_age)

In [20]:
df.head()

,customer_id,gender,age,city,signup_date,order_id,order_date,restaurant_name,dish_name,category,...,price,payment_method,order_frequency,last_order_date,loyalty_points,churned,rating,rating_date,delivery_status,new_age
0,C5663,Male,Adult,Peshawar,1/14/2024,O9663,8/23/2023,McDonald's,Burger,Italian,...,1478.27,Cash,38,7/19/2025,238,Active,3,10/14/2024,Cancelled,25.0
1,C2831,Male,Adult,Multan,7/7/2024,O6831,8/23/2023,KFC,Burger,Italian,...,956.04,Wallet,24,11/25/2024,81,Active,2,8/21/2025,Delayed,25.0
2,C2851,Other,Senior,Multan,6/20/2025,O6851,8/23/2023,Pizza Hut,Fries,Italian,...,882.51,Cash,42,5/10/2025,82,Inactive,3,9/19/2024,Delayed,60.0
3,C1694,Female,Senior,Peshawar,9/5/2023,O5694,8/23/2023,Subway,Pizza,Dessert,...,231.30,Card,27,7/24/2025,45,Inactive,2,6/29/2025,Delayed,60.0
4,C4339,Other,Senior,Lahore,12/29/2023,O8339,8/24/2023,KFC,Sandwich,Dessert,...,1156.69,Cash,35,12/21/2024,418,Inactive,3,3/6/2025,Cancelled,60.0

In [21]:
import numpy as np

In [22]:
np.array(df['new_age'], dtype = 'int32')

/home/user/dsml-ghost/.venv/lib/python3.11/site-packages/pandas/core/series.py:1035: RuntimeWarning: invalid value encountered in cast
  arr = np.array(values, dtype=dtype, copy=copy)

array([         25,          25,          60, ..., -2147483648,
                25,          25], shape=(6000,), dtype=int32)

In [23]:
df.head()

,customer_id,gender,age,city,signup_date,order_id,order_date,restaurant_name,dish_name,category,...,price,payment_method,order_frequency,last_order_date,loyalty_points,churned,rating,rating_date,delivery_status,new_age
0,C5663,Male,Adult,Peshawar,1/14/2024,O9663,8/23/2023,McDonald's,Burger,Italian,...,1478.27,Cash,38,7/19/2025,238,Active,3,10/14/2024,Cancelled,25.0
1,C2831,Male,Adult,Multan,7/7/2024,O6831,8/23/2023,KFC,Burger,Italian,...,956.04,Wallet,24,11/25/2024,81,Active,2,8/21/2025,Delayed,25.0
2,C2851,Other,Senior,Multan,6/20/2025,O6851,8/23/2023,Pizza Hut,Fries,Italian,...,882.51,Cash,42,5/10/2025,82,Inactive,3,9/19/2024,Delayed,60.0
3,C1694,Female,Senior,Peshawar,9/5/2023,O5694,8/23/2023,Subway,Pizza,Dessert,...,231.30,Card,27,7/24/2025,45,Inactive,2,6/29/2025,Delayed,60.0
4,C4339,Other,Senior,Lahore,12/29/2023,O8339,8/24/2023,KFC,Sandwich,Dessert,...,1156.69,Cash,35,12/21/2024,418,Inactive,3,3/6/2025,Cancelled,60.0

In [24]:
df[(df['new_age'] > 18)  & (df['rating']> 3)]

,customer_id,gender,age,city,signup_date,order_id,order_date,restaurant_name,dish_name,category,...,price,payment_method,order_frequency,last_order_date,loyalty_points,churned,rating,rating_date,delivery_status,new_age
5,C6543,Other,Adult,Karachi,9/28/2023,O10543,8/24/2023,Burger King,Pizza,Fast Food,...,1213.62,Cash,45,10/10/2024,418,Inactive,4,6/1/2025,Delivered,25.0
8,C5146,Other,Senior,Karachi,12/17/2024,O9146,8/24/2023,KFC,Pizza,Dessert,...,596.96,Wallet,1,5/16/2025,24,Active,4,10/27/2024,Delayed,60.0
10,C5535,Male,Adult,Lahore,7/30/2025,O9535,8/24/2023,Subway,Sandwich,Continental,...,645.52,Cash,32,4/8/2025,133,Active,4,12/5/2024,Delayed,25.0
12,C4071,Male,Senior,Islamabad,12/27/2024,O8071,8/24/2023,Subway,Pizza,Italian,...,465.75,Card,29,12/26/2024,394,Active,4,4/16/2025,Cancelled,60.0
13,C4231,Female,Senior,Multan,4/11/2025,O8231,8/24/2023,Burger King,Sandwich,Continental,...,796.91,Wallet,39,11/12/2024,5,Inactive,5,2/27/2025,Delivered,60.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5981,C1450,Female,Adult,Karachi,1/15/2025,O5450,8/21/2025,Pizza Hut,Pizza,Chinese,...,404.82,Wallet,10,9/22/2024,148,Active,5,9/15/2024,Delayed,25.0
5984,C3042,Other,Adult,Multan,9/28/2024,O7042,8/21/2025,Subway,Pasta,Continental,...,1479.85,Wallet,19,7/14/2025,374,Inactive,5,3/16/2025,Delayed,25.0
5985,C2877,Other,Adult,Peshawar,3/28/2025,O6877,8/21/2025,Subway,Burger,Fast Food,...,1078.12,Card,43,6/3/2025,290,Active,5,4/19/2025,Cancelled,25.0
5986,C2893,Male,Adult,Multan,8/13/2024,O6893,8/21/2025,Burger King,Pizza,Chinese,...,598.92,Cash,49,6/30/2025,259,Active,5,1/20/2025,Cancelled,25.0
5995,C6849,Male,Adult,Multan,11/25/2024,O10849,8/22/2025,Pizza Hut,Burger,Italian,...,875.71,Cash,28,11/29/2024,166,Active,5,12/30/2024,Cancelled,25.0

In [25]:
df.query('new_age > 20 and rating >3')

,customer_id,gender,age,city,signup_date,order_id,order_date,restaurant_name,dish_name,category,...,price,payment_method,order_frequency,last_order_date,loyalty_points,churned,rating,rating_date,delivery_status,new_age
5,C6543,Other,Adult,Karachi,9/28/2023,O10543,8/24/2023,Burger King,Pizza,Fast Food,...,1213.62,Cash,45,10/10/2024,418,Inactive,4,6/1/2025,Delivered,25.0
8,C5146,Other,Senior,Karachi,12/17/2024,O9146,8/24/2023,KFC,Pizza,Dessert,...,596.96,Wallet,1,5/16/2025,24,Active,4,10/27/2024,Delayed,60.0
10,C5535,Male,Adult,Lahore,7/30/2025,O9535,8/24/2023,Subway,Sandwich,Continental,...,645.52,Cash,32,4/8/2025,133,Active,4,12/5/2024,Delayed,25.0
12,C4071,Male,Senior,Islamabad,12/27/2024,O8071,8/24/2023,Subway,Pizza,Italian,...,465.75,Card,29,12/26/2024,394,Active,4,4/16/2025,Cancelled,60.0
13,C4231,Female,Senior,Multan,4/11/2025,O8231,8/24/2023,Burger King,Sandwich,Continental,...,796.91,Wallet,39,11/12/2024,5,Inactive,5,2/27/2025,Delivered,60.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5981,C1450,Female,Adult,Karachi,1/15/2025,O5450,8/21/2025,Pizza Hut,Pizza,Chinese,...,404.82,Wallet,10,9/22/2024,148,Active,5,9/15/2024,Delayed,25.0
5984,C3042,Other,Adult,Multan,9/28/2024,O7042,8/21/2025,Subway,Pasta,Continental,...,1479.85,Wallet,19,7/14/2025,374,Inactive,5,3/16/2025,Delayed,25.0
5985,C2877,Other,Adult,Peshawar,3/28/2025,O6877,8/21/2025,Subway,Burger,Fast Food,...,1078.12,Card,43,6/3/2025,290,Active,5,4/19/2025,Cancelled,25.0
5986,C2893,Male,Adult,Multan,8/13/2024,O6893,8/21/2025,Burger King,Pizza,Chinese,...,598.92,Cash,49,6/30/2025,259,Active,5,1/20/2025,Cancelled,25.0
5995,C6849,Male,Adult,Multan,11/25/2024,O10849,8/22/2025,Pizza Hut,Burger,Italian,...,875.71,Cash,28,11/29/2024,166,Active,5,12/30/2024,Cancelled,25.0

In [26]:
df.columns

Index(['customer_id', 'gender', 'age', 'city', 'signup_date', 'order_id',
       'order_date', 'restaurant_name', 'dish_name', 'category', 'quantity',
       'price', 'payment_method', 'order_frequency', 'last_order_date',
       'loyalty_points', 'churned', 'rating', 'rating_date', 'delivery_status',
       'new_age'],
      dtype='object')

In [27]:
df['loyalty_points'] > 100

0        True
1       False
2       False
3       False
4        True
        ...
5995     True
5996     True
5997     True
5998    False
5999    False
Name: loyalty_points, Length: 6000, dtype: bool

In [28]:
df[df['loyalty_points'] >100] ['city']

0        Peshawar
4          Lahore
5         Karachi
6          Lahore
7        Peshawar
          ...
5993     Peshawar
5994       Multan
5995       Multan
5996    Islamabad
5997    Islamabad
Name: city, Length: 4814, dtype: object

In [29]:
df.columns

Index(['customer_id', 'gender', 'age', 'city', 'signup_date', 'order_id',
       'order_date', 'restaurant_name', 'dish_name', 'category', 'quantity',
       'price', 'payment_method', 'order_frequency', 'last_order_date',
       'loyalty_points', 'churned', 'rating', 'rating_date', 'delivery_status',
       'new_age'],
      dtype='object')

In [30]:
df[(df['loyalty_points']>100) & (df['new_age']>20)]

,customer_id,gender,age,city,signup_date,order_id,order_date,restaurant_name,dish_name,category,...,price,payment_method,order_frequency,last_order_date,loyalty_points,churned,rating,rating_date,delivery_status,new_age
0,C5663,Male,Adult,Peshawar,1/14/2024,O9663,8/23/2023,McDonald's,Burger,Italian,...,1478.27,Cash,38,7/19/2025,238,Active,3,10/14/2024,Cancelled,25.0
4,C4339,Other,Senior,Lahore,12/29/2023,O8339,8/24/2023,KFC,Sandwich,Dessert,...,1156.69,Cash,35,12/21/2024,418,Inactive,3,3/6/2025,Cancelled,60.0
5,C6543,Other,Adult,Karachi,9/28/2023,O10543,8/24/2023,Burger King,Pizza,Fast Food,...,1213.62,Cash,45,10/10/2024,418,Inactive,4,6/1/2025,Delivered,25.0
6,C6423,Male,Adult,Lahore,4/8/2025,O10423,8/24/2023,McDonald's,Pasta,Continental,...,672.91,Wallet,31,5/25/2025,347,Active,1,3/4/2025,Cancelled,25.0
7,C4621,Male,Adult,Peshawar,2/5/2024,O8621,8/24/2023,Pizza Hut,Pizza,Chinese,...,271.74,Cash,14,5/1/2025,429,Active,2,9/30/2024,Delivered,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5991,C5793,Other,Senior,Multan,10/1/2023,O9793,8/21/2025,Subway,Pizza,Italian,...,1375.28,Cash,42,5/21/2025,237,Active,1,2/14/2025,Delivered,60.0
5993,C5777,Female,Senior,Peshawar,2/11/2024,O9777,8/22/2025,Pizza Hut,Pasta,Fast Food,...,1103.73,Wallet,43,8/21/2025,211,Inactive,1,9/4/2024,Delivered,60.0
5994,C5590,Female,Adult,Multan,8/11/2024,O9590,8/22/2025,McDonald's,Burger,Chinese,...,598.01,Card,1,11/28/2024,457,Inactive,2,12/6/2024,Cancelled,25.0
5995,C6849,Male,Adult,Multan,11/25/2024,O10849,8/22/2025,Pizza Hut,Burger,Italian,...,875.71,Cash,28,11/29/2024,166,Active,5,12/30/2024,Cancelled,25.0
5996,C3787,Female,Adult,Islamabad,1/28/2025,O7787,8/22/2025,KFC,Pizza,Italian,...,1118.26,Cash,12,6/8/2025,193,Inactive,3,2/9/2025,Delayed,25.0

In [31]:
df.query('loyalty_points > 100 and new_age > 20')

,customer_id,gender,age,city,signup_date,order_id,order_date,restaurant_name,dish_name,category,...,price,payment_method,order_frequency,last_order_date,loyalty_points,churned,rating,rating_date,delivery_status,new_age
0,C5663,Male,Adult,Peshawar,1/14/2024,O9663,8/23/2023,McDonald's,Burger,Italian,...,1478.27,Cash,38,7/19/2025,238,Active,3,10/14/2024,Cancelled,25.0
4,C4339,Other,Senior,Lahore,12/29/2023,O8339,8/24/2023,KFC,Sandwich,Dessert,...,1156.69,Cash,35,12/21/2024,418,Inactive,3,3/6/2025,Cancelled,60.0
5,C6543,Other,Adult,Karachi,9/28/2023,O10543,8/24/2023,Burger King,Pizza,Fast Food,...,1213.62,Cash,45,10/10/2024,418,Inactive,4,6/1/2025,Delivered,25.0
6,C6423,Male,Adult,Lahore,4/8/2025,O10423,8/24/2023,McDonald's,Pasta,Continental,...,672.91,Wallet,31,5/25/2025,347,Active,1,3/4/2025,Cancelled,25.0
7,C4621,Male,Adult,Peshawar,2/5/2024,O8621,8/24/2023,Pizza Hut,Pizza,Chinese,...,271.74,Cash,14,5/1/2025,429,Active,2,9/30/2024,Delivered,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5991,C5793,Other,Senior,Multan,10/1/2023,O9793,8/21/2025,Subway,Pizza,Italian,...,1375.28,Cash,42,5/21/2025,237,Active,1,2/14/2025,Delivered,60.0
5993,C5777,Female,Senior,Peshawar,2/11/2024,O9777,8/22/2025,Pizza Hut,Pasta,Fast Food,...,1103.73,Wallet,43,8/21/2025,211,Inactive,1,9/4/2024,Delivered,60.0
5994,C5590,Female,Adult,Multan,8/11/2024,O9590,8/22/2025,McDonald's,Burger,Chinese,...,598.01,Card,1,11/28/2024,457,Inactive,2,12/6/2024,Cancelled,25.0
5995,C6849,Male,Adult,Multan,11/25/2024,O10849,8/22/2025,Pizza Hut,Burger,Italian,...,875.71,Cash,28,11/29/2024,166,Active,5,12/30/2024,Cancelled,25.0
5996,C3787,Female,Adult,Islamabad,1/28/2025,O7787,8/22/2025,KFC,Pizza,Italian,...,1118.26,Cash,12,6/8/2025,193,Inactive,3,2/9/2025,Delayed,25.0

In [32]:
df[(df['loyalty_points']>100) & (df['new_age']>20)]

,customer_id,gender,age,city,signup_date,order_id,order_date,restaurant_name,dish_name,category,...,price,payment_method,order_frequency,last_order_date,loyalty_points,churned,rating,rating_date,delivery_status,new_age
0,C5663,Male,Adult,Peshawar,1/14/2024,O9663,8/23/2023,McDonald's,Burger,Italian,...,1478.27,Cash,38,7/19/2025,238,Active,3,10/14/2024,Cancelled,25.0
4,C4339,Other,Senior,Lahore,12/29/2023,O8339,8/24/2023,KFC,Sandwich,Dessert,...,1156.69,Cash,35,12/21/2024,418,Inactive,3,3/6/2025,Cancelled,60.0
5,C6543,Other,Adult,Karachi,9/28/2023,O10543,8/24/2023,Burger King,Pizza,Fast Food,...,1213.62,Cash,45,10/10/2024,418,Inactive,4,6/1/2025,Delivered,25.0
6,C6423,Male,Adult,Lahore,4/8/2025,O10423,8/24/2023,McDonald's,Pasta,Continental,...,672.91,Wallet,31,5/25/2025,347,Active,1,3/4/2025,Cancelled,25.0
7,C4621,Male,Adult,Peshawar,2/5/2024,O8621,8/24/2023,Pizza Hut,Pizza,Chinese,...,271.74,Cash,14,5/1/2025,429,Active,2,9/30/2024,Delivered,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5991,C5793,Other,Senior,Multan,10/1/2023,O9793,8/21/2025,Subway,Pizza,Italian,...,1375.28,Cash,42,5/21/2025,237,Active,1,2/14/2025,Delivered,60.0
5993,C5777,Female,Senior,Peshawar,2/11/2024,O9777,8/22/2025,Pizza Hut,Pasta,Fast Food,...,1103.73,Wallet,43,8/21/2025,211,Inactive,1,9/4/2024,Delivered,60.0
5994,C5590,Female,Adult,Multan,8/11/2024,O9590,8/22/2025,McDonald's,Burger,Chinese,...,598.01,Card,1,11/28/2024,457,Inactive,2,12/6/2024,Cancelled,25.0
5995,C6849,Male,Adult,Multan,11/25/2024,O10849,8/22/2025,Pizza Hut,Burger,Italian,...,875.71,Cash,28,11/29/2024,166,Active,5,12/30/2024,Cancelled,25.0
5996,C3787,Female,Adult,Islamabad,1/28/2025,O7787,8/22/2025,KFC,Pizza,Italian,...,1118.26,Cash,12,6/8/2025,193,Inactive,3,2/9/2025,Delayed,25.0

In [33]:
df.query('loyalty_points > 100 and new_age == 25')

,customer_id,gender,age,city,signup_date,order_id,order_date,restaurant_name,dish_name,category,...,price,payment_method,order_frequency,last_order_date,loyalty_points,churned,rating,rating_date,delivery_status,new_age
0,C5663,Male,Adult,Peshawar,1/14/2024,O9663,8/23/2023,McDonald's,Burger,Italian,...,1478.27,Cash,38,7/19/2025,238,Active,3,10/14/2024,Cancelled,25.0
5,C6543,Other,Adult,Karachi,9/28/2023,O10543,8/24/2023,Burger King,Pizza,Fast Food,...,1213.62,Cash,45,10/10/2024,418,Inactive,4,6/1/2025,Delivered,25.0
6,C6423,Male,Adult,Lahore,4/8/2025,O10423,8/24/2023,McDonald's,Pasta,Continental,...,672.91,Wallet,31,5/25/2025,347,Active,1,3/4/2025,Cancelled,25.0
7,C4621,Male,Adult,Peshawar,2/5/2024,O8621,8/24/2023,Pizza Hut,Pizza,Chinese,...,271.74,Cash,14,5/1/2025,429,Active,2,9/30/2024,Delivered,25.0
9,C3579,Male,Adult,Karachi,10/13/2023,O7579,8/24/2023,Pizza Hut,Pizza,Continental,...,1443.25,Cash,15,2/23/2025,270,Inactive,3,10/11/2024,Delayed,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5985,C2877,Other,Adult,Peshawar,3/28/2025,O6877,8/21/2025,Subway,Burger,Fast Food,...,1078.12,Card,43,6/3/2025,290,Active,5,4/19/2025,Cancelled,25.0
5986,C2893,Male,Adult,Multan,8/13/2024,O6893,8/21/2025,Burger King,Pizza,Chinese,...,598.92,Cash,49,6/30/2025,259,Active,5,1/20/2025,Cancelled,25.0
5994,C5590,Female,Adult,Multan,8/11/2024,O9590,8/22/2025,McDonald's,Burger,Chinese,...,598.01,Card,1,11/28/2024,457,Inactive,2,12/6/2024,Cancelled,25.0
5995,C6849,Male,Adult,Multan,11/25/2024,O10849,8/22/2025,Pizza Hut,Burger,Italian,...,875.71,Cash,28,11/29/2024,166,Active,5,12/30/2024,Cancelled,25.0
5996,C3787,Female,Adult,Islamabad,1/28/2025,O7787,8/22/2025,KFC,Pizza,Italian,...,1118.26,Cash,12,6/8/2025,193,Inactive,3,2/9/2025,Delayed,25.0

In [34]:
df[(df['loyalty_points']>100) & (df['new_age'] == 25)]

,customer_id,gender,age,city,signup_date,order_id,order_date,restaurant_name,dish_name,category,...,price,payment_method,order_frequency,last_order_date,loyalty_points,churned,rating,rating_date,delivery_status,new_age
0,C5663,Male,Adult,Peshawar,1/14/2024,O9663,8/23/2023,McDonald's,Burger,Italian,...,1478.27,Cash,38,7/19/2025,238,Active,3,10/14/2024,Cancelled,25.0
5,C6543,Other,Adult,Karachi,9/28/2023,O10543,8/24/2023,Burger King,Pizza,Fast Food,...,1213.62,Cash,45,10/10/2024,418,Inactive,4,6/1/2025,Delivered,25.0
6,C6423,Male,Adult,Lahore,4/8/2025,O10423,8/24/2023,McDonald's,Pasta,Continental,...,672.91,Wallet,31,5/25/2025,347,Active,1,3/4/2025,Cancelled,25.0
7,C4621,Male,Adult,Peshawar,2/5/2024,O8621,8/24/2023,Pizza Hut,Pizza,Chinese,...,271.74,Cash,14,5/1/2025,429,Active,2,9/30/2024,Delivered,25.0
9,C3579,Male,Adult,Karachi,10/13/2023,O7579,8/24/2023,Pizza Hut,Pizza,Continental,...,1443.25,Cash,15,2/23/2025,270,Inactive,3,10/11/2024,Delayed,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5985,C2877,Other,Adult,Peshawar,3/28/2025,O6877,8/21/2025,Subway,Burger,Fast Food,...,1078.12,Card,43,6/3/2025,290,Active,5,4/19/2025,Cancelled,25.0
5986,C2893,Male,Adult,Multan,8/13/2024,O6893,8/21/2025,Burger King,Pizza,Chinese,...,598.92,Cash,49,6/30/2025,259,Active,5,1/20/2025,Cancelled,25.0
5994,C5590,Female,Adult,Multan,8/11/2024,O9590,8/22/2025,McDonald's,Burger,Chinese,...,598.01,Card,1,11/28/2024,457,Inactive,2,12/6/2024,Cancelled,25.0
5995,C6849,Male,Adult,Multan,11/25/2024,O10849,8/22/2025,Pizza Hut,Burger,Italian,...,875.71,Cash,28,11/29/2024,166,Active,5,12/30/2024,Cancelled,25.0
5996,C3787,Female,Adult,Islamabad,1/28/2025,O7787,8/22/2025,KFC,Pizza,Italian,...,1118.26,Cash,12,6/8/2025,193,Inactive,3,2/9/2025,Delayed,25.0

In [35]:
df.loc[1:11,['dish_name']]

   dish_name
1     Burger
2      Fries
3      Pizza
4   Sandwich
5      Pizza
6      Pasta
7      Pizza
8      Pizza
9      Pizza
10  Sandwich
11    Burger

In [36]:
df.iloc[1:11,[8,3]]

   dish_name      city
1     Burger    Multan
2      Fries    Multan
3      Pizza  Peshawar
4   Sandwich    Lahore
5      Pizza   Karachi
6      Pasta    Lahore
7      Pizza  Peshawar
8      Pizza   Karachi
9      Pizza   Karachi
10  Sandwich    Lahore

In [37]:
df[(df['dish_name'] == 'Pizza') & (df['city'] == 'Karachi')]

,customer_id,gender,age,city,signup_date,order_id,order_date,restaurant_name,dish_name,category,...,price,payment_method,order_frequency,last_order_date,loyalty_points,churned,rating,rating_date,delivery_status,new_age
5,C6543,Other,Adult,Karachi,9/28/2023,O10543,8/24/2023,Burger King,Pizza,Fast Food,...,1213.62,Cash,45,10/10/2024,418,Inactive,4,6/1/2025,Delivered,25.0
8,C5146,Other,Senior,Karachi,12/17/2024,O9146,8/24/2023,KFC,Pizza,Dessert,...,596.96,Wallet,1,5/16/2025,24,Active,4,10/27/2024,Delayed,60.0
9,C3579,Male,Adult,Karachi,10/13/2023,O7579,8/24/2023,Pizza Hut,Pizza,Continental,...,1443.25,Cash,15,2/23/2025,270,Inactive,3,10/11/2024,Delayed,25.0
47,C2454,Other,Teenager,Karachi,12/4/2023,O6454,8/27/2023,KFC,Pizza,Italian,...,249.90,Cash,20,3/22/2025,70,Inactive,1,7/20/2025,Delayed,NaN
63,C2727,Other,Senior,Karachi,11/27/2024,O6727,8/30/2023,Subway,Pizza,Continental,...,1416.38,Wallet,27,11/5/2024,25,Inactive,3,6/28/2025,Cancelled,60.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5889,C4015,Male,Teenager,Karachi,2/7/2025,O8015,8/9/2025,McDonald's,Pizza,Dessert,...,134.37,Card,11,7/21/2025,489,Inactive,5,10/5/2024,Cancelled,NaN
5911,C5593,Male,Adult,Karachi,10/10/2023,O9593,8/12/2025,KFC,Pizza,Fast Food,...,1423.68,Wallet,26,11/2/2024,485,Active,3,1/16/2025,Delayed,25.0
5936,C4992,Male,Teenager,Karachi,5/30/2025,O8992,8/14/2025,Pizza Hut,Pizza,Dessert,...,188.55,Card,23,7/22/2025,247,Inactive,4,4/14/2025,Delayed,NaN
5941,C4614,Female,Teenager,Karachi,12/27/2024,O8614,8/15/2025,Subway,Pizza,Italian,...,421.96,Cash,40,9/19/2024,319,Inactive,3,5/15/2025,Delivered,NaN
5981,C1450,Female,Adult,Karachi,1/15/2025,O5450,8/21/2025,Pizza Hut,Pizza,Chinese,...,404.82,Wallet,10,9/22/2024,148,Active,5,9/15/2024,Delayed,25.0

In [38]:
df['new_age'].isna().sum()

np.int64(2062)

In [39]:
df['age'].isna().sum()

np.int64(0)

In [40]:
df[df['loyalty_points']>100] ['city']

0        Peshawar
4          Lahore
5         Karachi
6          Lahore
7        Peshawar
          ...
5993     Peshawar
5994       Multan
5995       Multan
5996    Islamabad
5997    Islamabad
Name: city, Length: 4814, dtype: object

In [41]:
df.query('loyalty_points > 100')['city']

0        Peshawar
4          Lahore
5         Karachi
6          Lahore
7        Peshawar
          ...
5993     Peshawar
5994       Multan
5995       Multan
5996    Islamabad
5997    Islamabad
Name: city, Length: 4814, dtype: object

In [42]:
df.head()

,customer_id,gender,age,city,signup_date,order_id,order_date,restaurant_name,dish_name,category,...,price,payment_method,order_frequency,last_order_date,loyalty_points,churned,rating,rating_date,delivery_status,new_age
0,C5663,Male,Adult,Peshawar,1/14/2024,O9663,8/23/2023,McDonald's,Burger,Italian,...,1478.27,Cash,38,7/19/2025,238,Active,3,10/14/2024,Cancelled,25.0
1,C2831,Male,Adult,Multan,7/7/2024,O6831,8/23/2023,KFC,Burger,Italian,...,956.04,Wallet,24,11/25/2024,81,Active,2,8/21/2025,Delayed,25.0
2,C2851,Other,Senior,Multan,6/20/2025,O6851,8/23/2023,Pizza Hut,Fries,Italian,...,882.51,Cash,42,5/10/2025,82,Inactive,3,9/19/2024,Delayed,60.0
3,C1694,Female,Senior,Peshawar,9/5/2023,O5694,8/23/2023,Subway,Pizza,Dessert,...,231.30,Card,27,7/24/2025,45,Inactive,2,6/29/2025,Delayed,60.0
4,C4339,Other,Senior,Lahore,12/29/2023,O8339,8/24/2023,KFC,Sandwich,Dessert,...,1156.69,Cash,35,12/21/2024,418,Inactive,3,3/6/2025,Cancelled,60.0

In [43]:
(df['payment_method'] == 'Cash').sum()

np.int64(2039)

In [44]:
(df['restaurant_name'] == 'KFC').sum()

np.int64(1224)

In [45]:
(df['restaurant_name'] == 'Pizza Hut').sum()

np.int64(1224)

In [46]:
df.head()

,customer_id,gender,age,city,signup_date,order_id,order_date,restaurant_name,dish_name,category,...,price,payment_method,order_frequency,last_order_date,loyalty_points,churned,rating,rating_date,delivery_status,new_age
0,C5663,Male,Adult,Peshawar,1/14/2024,O9663,8/23/2023,McDonald's,Burger,Italian,...,1478.27,Cash,38,7/19/2025,238,Active,3,10/14/2024,Cancelled,25.0
1,C2831,Male,Adult,Multan,7/7/2024,O6831,8/23/2023,KFC,Burger,Italian,...,956.04,Wallet,24,11/25/2024,81,Active,2,8/21/2025,Delayed,25.0
2,C2851,Other,Senior,Multan,6/20/2025,O6851,8/23/2023,Pizza Hut,Fries,Italian,...,882.51,Cash,42,5/10/2025,82,Inactive,3,9/19/2024,Delayed,60.0
3,C1694,Female,Senior,Peshawar,9/5/2023,O5694,8/23/2023,Subway,Pizza,Dessert,...,231.30,Card,27,7/24/2025,45,Inactive,2,6/29/2025,Delayed,60.0
4,C4339,Other,Senior,Lahore,12/29/2023,O8339,8/24/2023,KFC,Sandwich,Dessert,...,1156.69,Cash,35,12/21/2024,418,Inactive,3,3/6/2025,Cancelled,60.0

In [47]:
df.columns

Index(['customer_id', 'gender', 'age', 'city', 'signup_date', 'order_id',
       'order_date', 'restaurant_name', 'dish_name', 'category', 'quantity',
       'price', 'payment_method', 'order_frequency', 'last_order_date',
       'loyalty_points', 'churned', 'rating', 'rating_date', 'delivery_status',
       'new_age'],
      dtype='object')

In [48]:
df[(df['city'] == 'Multan') & (df['payment_method'] == 'Cash')]

,customer_id,gender,age,city,signup_date,order_id,order_date,restaurant_name,dish_name,category,...,price,payment_method,order_frequency,last_order_date,loyalty_points,churned,rating,rating_date,delivery_status,new_age
2,C2851,Other,Senior,Multan,6/20/2025,O6851,8/23/2023,Pizza Hut,Fries,Italian,...,882.51,Cash,42,5/10/2025,82,Inactive,3,9/19/2024,Delayed,60.0
32,C6340,Male,Senior,Multan,7/7/2025,O10340,8/26/2023,Burger King,Sandwich,Continental,...,209.77,Cash,16,11/20/2024,453,Active,3,9/4/2024,Cancelled,60.0
46,C3247,Female,Senior,Multan,11/27/2023,O7247,8/27/2023,McDonald's,Sandwich,Italian,...,275.53,Cash,7,12/6/2024,138,Active,2,6/22/2025,Delivered,60.0
81,C3775,Other,Adult,Multan,12/29/2024,O7775,9/1/2023,Burger King,Fries,Chinese,...,388.86,Cash,31,9/1/2024,39,Inactive,3,10/5/2024,Cancelled,25.0
95,C5122,Other,Senior,Multan,3/30/2025,O9122,9/3/2023,McDonald's,Pizza,Chinese,...,1201.49,Cash,37,4/30/2025,293,Active,1,11/30/2024,Delayed,60.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5971,C2798,Female,Teenager,Multan,8/25/2024,O6798,8/19/2025,Burger King,Sandwich,Dessert,...,436.27,Cash,29,9/18/2024,107,Inactive,5,8/8/2025,Delayed,NaN
5980,C4726,Female,Teenager,Multan,5/29/2024,O8726,8/20/2025,Subway,Fries,Chinese,...,1145.90,Cash,16,2/25/2025,8,Inactive,4,3/14/2025,Delivered,NaN
5986,C2893,Male,Adult,Multan,8/13/2024,O6893,8/21/2025,Burger King,Pizza,Chinese,...,598.92,Cash,49,6/30/2025,259,Active,5,1/20/2025,Cancelled,25.0
5991,C5793,Other,Senior,Multan,10/1/2023,O9793,8/21/2025,Subway,Pizza,Italian,...,1375.28,Cash,42,5/21/2025,237,Active,1,2/14/2025,Delivered,60.0
5995,C6849,Male,Adult,Multan,11/25/2024,O10849,8/22/2025,Pizza Hut,Burger,Italian,...,875.71,Cash,28,11/29/2024,166,Active,5,12/30/2024,Cancelled,25.0

In [49]:
(df['city'] == 'Multan').sum()

np.int64(1256)

In [50]:
df

,customer_id,gender,age,city,signup_date,order_id,order_date,restaurant_name,dish_name,category,...,price,payment_method,order_frequency,last_order_date,loyalty_points,churned,rating,rating_date,delivery_status,new_age
0,C5663,Male,Adult,Peshawar,1/14/2024,O9663,8/23/2023,McDonald's,Burger,Italian,...,1478.27,Cash,38,7/19/2025,238,Active,3,10/14/2024,Cancelled,25.0
1,C2831,Male,Adult,Multan,7/7/2024,O6831,8/23/2023,KFC,Burger,Italian,...,956.04,Wallet,24,11/25/2024,81,Active,2,8/21/2025,Delayed,25.0
2,C2851,Other,Senior,Multan,6/20/2025,O6851,8/23/2023,Pizza Hut,Fries,Italian,...,882.51,Cash,42,5/10/2025,82,Inactive,3,9/19/2024,Delayed,60.0
3,C1694,Female,Senior,Peshawar,9/5/2023,O5694,8/23/2023,Subway,Pizza,Dessert,...,231.30,Card,27,7/24/2025,45,Inactive,2,6/29/2025,Delayed,60.0
4,C4339,Other,Senior,Lahore,12/29/2023,O8339,8/24/2023,KFC,Sandwich,Dessert,...,1156.69,Cash,35,12/21/2024,418,Inactive,3,3/6/2025,Cancelled,60.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,C6849,Male,Adult,Multan,11/25/2024,O10849,8/22/2025,Pizza Hut,Burger,Italian,...,875.71,Cash,28,11/29/2024,166,Active,5,12/30/2024,Cancelled,25.0
5996,C3787,Female,Adult,Islamabad,1/28/2025,O7787,8/22/2025,KFC,Pizza,Italian,...,1118.26,Cash,12,6/8/2025,193,Inactive,3,2/9/2025,Delayed,25.0
5997,C2841,Other,Teenager,Islamabad,10/19/2023,O6841,8/22/2025,KFC,Sandwich,Italian,...,1005.83,Card,31,12/30/2024,278,Active,4,3/23/2025,Cancelled,NaN
5998,C1624,Male,Adult,Islamabad,6/17/2024,O5624,8/22/2025,KFC,Fries,Fast Food,...,1226.10,Card,37,12/27/2024,55,Inactive,2,3/15/2025,Delivered,25.0
5999,C2068,Female,Adult,Multan,3/15/2025,O6068,8/22/2025,Burger King,Fries,Fast Food,...,1131.27,Card,2,6/13/2025,41,Inactive,1,7/15/2025,Delayed,25.0