practising pandas

In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('/home/user/dsml-ghost/detasets/game_of_throne_1.csv')

In [6]:
df.head()

,name,year,battle_number,attacker_king,defender_king,attacker_1,attacker_2,attacker_3,attacker_4,defender_1,...,major_death,major_capture,attacker_size,defender_size,attacker_commander,defender_commander,summer,location,region,note
0,Battle of the Golden Tooth,298,1,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Tully,...,1.0,0.0,15000.0,4000.0,Jaime Lannister,"Clement Piper, Vance",1.0,Golden Tooth,The Westerlands,NaN
1,Battle at the Mummer's Ford,298,2,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Baratheon,...,1.0,0.0,NaN,120.0,Gregor Clegane,Beric Dondarrion,1.0,Mummer's Ford,The Riverlands,NaN
2,Battle of Riverrun,298,3,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Tully,...,0.0,1.0,15000.0,10000.0,"Jaime Lannister, Andros Brax","Edmure Tully, Tytos Blackwood",1.0,Riverrun,The Riverlands,NaN
3,Battle of the Green Fork,298,4,Robb Stark,Joffrey/Tommen Baratheon,Stark,NaN,NaN,NaN,Lannister,...,1.0,1.0,18000.0,20000.0,"Roose Bolton, Wylis Manderly, Medger Cerwyn, H...","Tywin Lannister, Gregor Clegane, Kevan Lannist...",1.0,Green Fork,The Riverlands,NaN
4,Battle of the Whispering Wood,298,5,Robb Stark,Joffrey/Tommen Baratheon,Stark,Tully,NaN,NaN,Lannister,...,1.0,1.0,1875.0,6000.0,"Robb Stark, Brynden Tully",Jaime Lannister,1.0,Whispering Wood,The Riverlands,NaN

In [18]:
df['attacker_2'].fillna(df['attacker_2'].mode()[0], inplace=True)

In [ ]:
df.shape

(38, 25)

In [9]:
df.columns

Index(['name', 'year', 'battle_number', 'attacker_king', 'defender_king',
       'attacker_1', 'attacker_2', 'attacker_3', 'attacker_4', 'defender_1',
       'defender_2', 'defender_3', 'defender_4', 'attacker_outcome',
       'battle_type', 'major_death', 'major_capture', 'attacker_size',
       'defender_size', 'attacker_commander', 'defender_commander', 'summer',
       'location', 'region', 'note'],
      dtype='object')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                38 non-null     object
 1   year                38 non-null     int64
 2   battle_number       38 non-null     int64
 3   attacker_king       36 non-null     object
 4   defender_king       35 non-null     object
 5   attacker_1          38 non-null     object
 6   attacker_2          10 non-null     object
 7   attacker_3          3 non-null      object
 8   attacker_4          2 non-null      object
 9   defender_1          37 non-null     object
 10  defender_2          2 non-null      object
 11  defender_3          0 non-null      float64
 12  defender_4          0 non-null      float64
 13  attacker_outcome    37 non-null     object
 14  battle_type         37 non-null     object
 15  major_death         37 non-null     float64
 16  major_capture       37 non-null     float64
 17  attacker_size       24 non-null     float64
 18  defender_size       19 non-null     float64
 19  attacker_commander  37 non-null     object
 20  defender_commander  28 non-null     object
 21  summer              37 non-null     float64
 22  location            37 non-null     object
 23  region              38 non-null     object
 24  note                5 non-null      object
dtypes: float64(7), int64(2), object(16)
memory usage: 7.6+ KB

In [13]:
df.isna().sum()

name                   0
year                   0
battle_number          0
attacker_king          2
defender_king          3
attacker_1             0
attacker_2            28
attacker_3            35
attacker_4            36
defender_1             1
defender_2            36
defender_3            38
defender_4            38
attacker_outcome       1
battle_type            1
major_death            1
major_capture          1
attacker_size         14
defender_size         19
attacker_commander     1
defender_commander    10
summer                 1
location               1
region                 0
note                  33
dtype: int64

In [14]:
df['attacker_1']

0                       Lannister
1                       Lannister
2                       Lannister
3                           Stark
4                           Stark
5                           Stark
6                       Lannister
7                         Greyjoy
8                         Greyjoy
9                         Greyjoy
10                          Stark
11                        Greyjoy
12                        Greyjoy
13                         Bolton
14                          Stark
15                      Baratheon
16                      Lannister
17                          Stark
18                          Stark
19                      Baratheon
20                          Darry
21                          Stark
22    Brotherhood without Banners
23                      Lannister
24                      Lannister
25                           Frey
26                           Frey
27                      Free folk
28                         Bolton
29               Brave Companions
30                      Baratheon
31                        Greyjoy
32                        Greyjoy
33                      Baratheon
34                      Baratheon
35                      Lannister
36                        Bracken
37                      Baratheon
Name: attacker_1, dtype: object

In [16]:
df.duplicated().sum()

np.int64(0)

In [17]:
df.columns

Index(['name', 'year', 'battle_number', 'attacker_king', 'defender_king',
       'attacker_1', 'attacker_2', 'attacker_3', 'attacker_4', 'defender_1',
       'defender_2', 'defender_3', 'defender_4', 'attacker_outcome',
       'battle_type', 'major_death', 'major_capture', 'attacker_size',
       'defender_size', 'attacker_commander', 'defender_commander', 'summer',
       'location', 'region', 'note'],
      dtype='object')

In [21]:
df.head()

,name,year,battle_number,attacker_king,defender_king,attacker_1,attacker_2,attacker_3,attacker_4,defender_1,...,major_death,major_capture,attacker_size,defender_size,attacker_commander,defender_commander,summer,location,region,note
0,Battle of the Golden Tooth,298,1,Joffrey/Tommen Baratheon,Robb Stark,Lannister,Tully,NaN,NaN,Tully,...,1.0,0.0,15000.0,4000.0,Jaime Lannister,"Clement Piper, Vance",1.0,Golden Tooth,The Westerlands,NaN
1,Battle at the Mummer's Ford,298,2,Joffrey/Tommen Baratheon,Robb Stark,Lannister,Tully,NaN,NaN,Baratheon,...,1.0,0.0,NaN,120.0,Gregor Clegane,Beric Dondarrion,1.0,Mummer's Ford,The Riverlands,NaN
2,Battle of Riverrun,298,3,Joffrey/Tommen Baratheon,Robb Stark,Lannister,Tully,NaN,NaN,Tully,...,0.0,1.0,15000.0,10000.0,"Jaime Lannister, Andros Brax","Edmure Tully, Tytos Blackwood",1.0,Riverrun,The Riverlands,NaN
3,Battle of the Green Fork,298,4,Robb Stark,Joffrey/Tommen Baratheon,Stark,Tully,NaN,NaN,Lannister,...,1.0,1.0,18000.0,20000.0,"Roose Bolton, Wylis Manderly, Medger Cerwyn, H...","Tywin Lannister, Gregor Clegane, Kevan Lannist...",1.0,Green Fork,The Riverlands,NaN
4,Battle of the Whispering Wood,298,5,Robb Stark,Joffrey/Tommen Baratheon,Stark,Tully,NaN,NaN,Lannister,...,1.0,1.0,1875.0,6000.0,"Robb Stark, Brynden Tully",Jaime Lannister,1.0,Whispering Wood,The Riverlands,NaN

In [24]:
df[(df['year'] ==298) & (df['defender_king'] =='Robb Stark')]

,name,year,battle_number,attacker_king,defender_king,attacker_1,attacker_2,attacker_3,attacker_4,defender_1,...,major_death,major_capture,attacker_size,defender_size,attacker_commander,defender_commander,summer,location,region,note
0,Battle of the Golden Tooth,298,1,Joffrey/Tommen Baratheon,Robb Stark,Lannister,Tully,NaN,NaN,Tully,...,1.0,0.0,15000.0,4000.0,Jaime Lannister,"Clement Piper, Vance",1.0,Golden Tooth,The Westerlands,NaN
1,Battle at the Mummer's Ford,298,2,Joffrey/Tommen Baratheon,Robb Stark,Lannister,Tully,NaN,NaN,Baratheon,...,1.0,0.0,NaN,120.0,Gregor Clegane,Beric Dondarrion,1.0,Mummer's Ford,The Riverlands,NaN
2,Battle of Riverrun,298,3,Joffrey/Tommen Baratheon,Robb Stark,Lannister,Tully,NaN,NaN,Tully,...,0.0,1.0,15000.0,10000.0,"Jaime Lannister, Andros Brax","Edmure Tully, Tytos Blackwood",1.0,Riverrun,The Riverlands,NaN
6,Sack of Darry,298,7,Joffrey/Tommen Baratheon,Robb Stark,Lannister,Tully,NaN,NaN,Darry,...,0.0,0.0,NaN,NaN,Gregor Clegane,Lyman Darry,1.0,Darry,The Riverlands,NaN

In [25]:
(df['year'] ==298).sum()

np.int64(7)

In [27]:
df.drop('attacker_3',axis=1,inplace=True)

In [29]:
df.head()

,name,year,battle_number,attacker_king,defender_king,attacker_1,attacker_2,attacker_4,defender_1,defender_2,...,major_death,major_capture,attacker_size,defender_size,attacker_commander,defender_commander,summer,location,region,note
0,Battle of the Golden Tooth,298,1,Joffrey/Tommen Baratheon,Robb Stark,Lannister,Tully,NaN,Tully,NaN,...,1.0,0.0,15000.0,4000.0,Jaime Lannister,"Clement Piper, Vance",1.0,Golden Tooth,The Westerlands,NaN
1,Battle at the Mummer's Ford,298,2,Joffrey/Tommen Baratheon,Robb Stark,Lannister,Tully,NaN,Baratheon,NaN,...,1.0,0.0,NaN,120.0,Gregor Clegane,Beric Dondarrion,1.0,Mummer's Ford,The Riverlands,NaN
2,Battle of Riverrun,298,3,Joffrey/Tommen Baratheon,Robb Stark,Lannister,Tully,NaN,Tully,NaN,...,0.0,1.0,15000.0,10000.0,"Jaime Lannister, Andros Brax","Edmure Tully, Tytos Blackwood",1.0,Riverrun,The Riverlands,NaN
3,Battle of the Green Fork,298,4,Robb Stark,Joffrey/Tommen Baratheon,Stark,Tully,NaN,Lannister,NaN,...,1.0,1.0,18000.0,20000.0,"Roose Bolton, Wylis Manderly, Medger Cerwyn, H...","Tywin Lannister, Gregor Clegane, Kevan Lannist...",1.0,Green Fork,The Riverlands,NaN
4,Battle of the Whispering Wood,298,5,Robb Stark,Joffrey/Tommen Baratheon,Stark,Tully,NaN,Lannister,NaN,...,1.0,1.0,1875.0,6000.0,"Robb Stark, Brynden Tully",Jaime Lannister,1.0,Whispering Wood,The Riverlands,NaN

In [32]:
df.sort_values('name')
df.head()

,name,year,battle_number,attacker_king,defender_king,attacker_1,attacker_2,attacker_4,defender_1,defender_2,...,major_death,major_capture,attacker_size,defender_size,attacker_commander,defender_commander,summer,location,region,note
0,Battle of the Golden Tooth,298,1,Joffrey/Tommen Baratheon,Robb Stark,Lannister,Tully,NaN,Tully,NaN,...,1.0,0.0,15000.0,4000.0,Jaime Lannister,"Clement Piper, Vance",1.0,Golden Tooth,The Westerlands,NaN
1,Battle at the Mummer's Ford,298,2,Joffrey/Tommen Baratheon,Robb Stark,Lannister,Tully,NaN,Baratheon,NaN,...,1.0,0.0,NaN,120.0,Gregor Clegane,Beric Dondarrion,1.0,Mummer's Ford,The Riverlands,NaN
2,Battle of Riverrun,298,3,Joffrey/Tommen Baratheon,Robb Stark,Lannister,Tully,NaN,Tully,NaN,...,0.0,1.0,15000.0,10000.0,"Jaime Lannister, Andros Brax","Edmure Tully, Tytos Blackwood",1.0,Riverrun,The Riverlands,NaN
3,Battle of the Green Fork,298,4,Robb Stark,Joffrey/Tommen Baratheon,Stark,Tully,NaN,Lannister,NaN,...,1.0,1.0,18000.0,20000.0,"Roose Bolton, Wylis Manderly, Medger Cerwyn, H...","Tywin Lannister, Gregor Clegane, Kevan Lannist...",1.0,Green Fork,The Riverlands,NaN
4,Battle of the Whispering Wood,298,5,Robb Stark,Joffrey/Tommen Baratheon,Stark,Tully,NaN,Lannister,NaN,...,1.0,1.0,1875.0,6000.0,"Robb Stark, Brynden Tully",Jaime Lannister,1.0,Whispering Wood,The Riverlands,NaN

In [34]:
df.reset_index(drop=True)
df.head()

,name,year,battle_number,attacker_king,defender_king,attacker_1,attacker_2,attacker_4,defender_1,defender_2,...,major_death,major_capture,attacker_size,defender_size,attacker_commander,defender_commander,summer,location,region,note
0,Battle of the Golden Tooth,298,1,Joffrey/Tommen Baratheon,Robb Stark,Lannister,Tully,NaN,Tully,NaN,...,1.0,0.0,15000.0,4000.0,Jaime Lannister,"Clement Piper, Vance",1.0,Golden Tooth,The Westerlands,NaN
1,Battle at the Mummer's Ford,298,2,Joffrey/Tommen Baratheon,Robb Stark,Lannister,Tully,NaN,Baratheon,NaN,...,1.0,0.0,NaN,120.0,Gregor Clegane,Beric Dondarrion,1.0,Mummer's Ford,The Riverlands,NaN
2,Battle of Riverrun,298,3,Joffrey/Tommen Baratheon,Robb Stark,Lannister,Tully,NaN,Tully,NaN,...,0.0,1.0,15000.0,10000.0,"Jaime Lannister, Andros Brax","Edmure Tully, Tytos Blackwood",1.0,Riverrun,The Riverlands,NaN
3,Battle of the Green Fork,298,4,Robb Stark,Joffrey/Tommen Baratheon,Stark,Tully,NaN,Lannister,NaN,...,1.0,1.0,18000.0,20000.0,"Roose Bolton, Wylis Manderly, Medger Cerwyn, H...","Tywin Lannister, Gregor Clegane, Kevan Lannist...",1.0,Green Fork,The Riverlands,NaN
4,Battle of the Whispering Wood,298,5,Robb Stark,Joffrey/Tommen Baratheon,Stark,Tully,NaN,Lannister,NaN,...,1.0,1.0,1875.0,6000.0,"Robb Stark, Brynden Tully",Jaime Lannister,1.0,Whispering Wood,The Riverlands,NaN

In [38]:
df.groupby('defender_king')['year'].mean()

defender_king
Balon/Euron Greyjoy         299.500000
Joffrey/Tommen Baratheon    299.000000
Mance Rayder                300.000000
Renly Baratheon             299.000000
Robb Stark                  298.857143
Stannis Baratheon           300.000000
Name: year, dtype: float64

In [43]:
df['new_col']= df.groupby('defender_king')['year'].transform('mean')

In [45]:
df.head()

,name,year,battle_number,attacker_king,defender_king,attacker_1,attacker_2,attacker_4,defender_1,defender_2,...,major_capture,attacker_size,defender_size,attacker_commander,defender_commander,summer,location,region,note,new_col
0,Battle of the Golden Tooth,298,1,Joffrey/Tommen Baratheon,Robb Stark,Lannister,Tully,NaN,Tully,NaN,...,0.0,15000.0,4000.0,Jaime Lannister,"Clement Piper, Vance",1.0,Golden Tooth,The Westerlands,NaN,298.857143
1,Battle at the Mummer's Ford,298,2,Joffrey/Tommen Baratheon,Robb Stark,Lannister,Tully,NaN,Baratheon,NaN,...,0.0,NaN,120.0,Gregor Clegane,Beric Dondarrion,1.0,Mummer's Ford,The Riverlands,NaN,298.857143
2,Battle of Riverrun,298,3,Joffrey/Tommen Baratheon,Robb Stark,Lannister,Tully,NaN,Tully,NaN,...,1.0,15000.0,10000.0,"Jaime Lannister, Andros Brax","Edmure Tully, Tytos Blackwood",1.0,Riverrun,The Riverlands,NaN,298.857143
3,Battle of the Green Fork,298,4,Robb Stark,Joffrey/Tommen Baratheon,Stark,Tully,NaN,Lannister,NaN,...,1.0,18000.0,20000.0,"Roose Bolton, Wylis Manderly, Medger Cerwyn, H...","Tywin Lannister, Gregor Clegane, Kevan Lannist...",1.0,Green Fork,The Riverlands,NaN,299.000000
4,Battle of the Whispering Wood,298,5,Robb Stark,Joffrey/Tommen Baratheon,Stark,Tully,NaN,Lannister,NaN,...,1.0,1875.0,6000.0,"Robb Stark, Brynden Tully",Jaime Lannister,1.0,Whispering Wood,The Riverlands,NaN,299.000000

In [46]:
df['name'].str.upper()

0                            BATTLE OF THE GOLDEN TOOTH
1                           BATTLE AT THE MUMMER'S FORD
2                                    BATTLE OF RIVERRUN
3                              BATTLE OF THE GREEN FORK
4                         BATTLE OF THE WHISPERING WOOD
5                                   BATTLE OF THE CAMPS
6                                         SACK OF DARRY
7                                 BATTLE OF MOAT CAILIN
8                              BATTLE OF DEEPWOOD MOTTE
9                             BATTLE OF THE STONY SHORE
10                           BATTLE OF TORRHEN'S SQUARE
11                                 BATTLE OF WINTERFELL
12                             SACK OF TORRHEN'S SQUARE
13                                   SACK OF WINTERFELL
14                                    BATTLE OF OXCROSS
15                                 SIEGE OF STORM'S END
16                                  BATTLE OF THE FORDS
17                                    SACK OF HARRENHAL
18                                   BATTLE OF THE CRAG
19                             BATTLE OF THE BLACKWATER
20                                       SIEGE OF DARRY
21                                 BATTLE OF DUSKENDALE
22                         BATTLE OF THE BURNING SEPTRY
23                              BATTLE OF THE RUBY FORD
24                                RETAKING OF HARRENHAL
25                                      THE RED WEDDING
26                                     SIEGE OF SEAGARD
27                               BATTLE OF CASTLE BLACK
28                                  FALL OF MOAT CAILIN
29                                     SACK OF SALTPANS
30                           RETAKING OF DEEPWOOD MOTTE
31                         BATTLE OF THE SHIELD ISLANDS
32    INVASION OF RYAMSPORT, VINETOWN, AND STARFISH ...
33                          SECOND SEIGE OF STORM'S END
34                                 SIEGE OF DRAGONSTONE
35                                    SIEGE OF RIVERRUN
36                                   SIEGE OF RAVENTREE
37                                  SIEGE OF WINTERFELL
Name: name, dtype: object

In [48]:
df['name'].str.title ()

0                            Battle Of The Golden Tooth
1                           Battle At The Mummer'S Ford
2                                    Battle Of Riverrun
3                              Battle Of The Green Fork
4                         Battle Of The Whispering Wood
5                                   Battle Of The Camps
6                                         Sack Of Darry
7                                 Battle Of Moat Cailin
8                              Battle Of Deepwood Motte
9                             Battle Of The Stony Shore
10                           Battle Of Torrhen'S Square
11                                 Battle Of Winterfell
12                             Sack Of Torrhen'S Square
13                                   Sack Of Winterfell
14                                    Battle Of Oxcross
15                                 Siege Of Storm'S End
16                                  Battle Of The Fords
17                                    Sack Of Harrenhal
18                                   Battle Of The Crag
19                             Battle Of The Blackwater
20                                       Siege Of Darry
21                                 Battle Of Duskendale
22                         Battle Of The Burning Septry
23                              Battle Of The Ruby Ford
24                                Retaking Of Harrenhal
25                                      The Red Wedding
26                                     Siege Of Seagard
27                               Battle Of Castle Black
28                                  Fall Of Moat Cailin
29                                     Sack Of Saltpans
30                           Retaking Of Deepwood Motte
31                         Battle Of The Shield Islands
32    Invasion Of Ryamsport, Vinetown, And Starfish ...
33                          Second Seige Of Storm'S End
34                                 Siege Of Dragonstone
35                                    Siege Of Riverrun
36                                   Siege Of Raventree
37                                  Siege Of Winterfell
Name: name, dtype: object

In [50]:
df['name'].str.contains('Battle of the blackwater',case = False).sum()

np.int64(1)

In [54]:
df.iloc[:10,[2,3,4]]

   battle_number             attacker_king             defender_king
0              1  Joffrey/Tommen Baratheon                Robb Stark
1              2  Joffrey/Tommen Baratheon                Robb Stark
2              3  Joffrey/Tommen Baratheon                Robb Stark
3              4                Robb Stark  Joffrey/Tommen Baratheon
4              5                Robb Stark  Joffrey/Tommen Baratheon
5              6                Robb Stark  Joffrey/Tommen Baratheon
6              7  Joffrey/Tommen Baratheon                Robb Stark
7              8       Balon/Euron Greyjoy                Robb Stark
8              9       Balon/Euron Greyjoy                Robb Stark
9             10       Balon/Euron Greyjoy                Robb Stark

In [56]:
df.loc[:10,['battle_number','attacker_king','defender_king']]

    battle_number             attacker_king             defender_king
0               1  Joffrey/Tommen Baratheon                Robb Stark
1               2  Joffrey/Tommen Baratheon                Robb Stark
2               3  Joffrey/Tommen Baratheon                Robb Stark
3               4                Robb Stark  Joffrey/Tommen Baratheon
4               5                Robb Stark  Joffrey/Tommen Baratheon
5               6                Robb Stark  Joffrey/Tommen Baratheon
6               7  Joffrey/Tommen Baratheon                Robb Stark
7               8       Balon/Euron Greyjoy                Robb Stark
8               9       Balon/Euron Greyjoy                Robb Stark
9              10       Balon/Euron Greyjoy                Robb Stark
10             11                Robb Stark       Balon/Euron Greyjoy

In [59]:
df.at[2,'battle_number']

np.int64(3)

In [63]:
df.iat[2,2]

np.int64(3)

In [64]:

df.columns

Index(['name', 'year', 'battle_number', 'attacker_king', 'defender_king',
       'attacker_1', 'attacker_2', 'attacker_4', 'defender_1', 'defender_2',
       'defender_3', 'defender_4', 'attacker_outcome', 'battle_type',
       'major_death', 'major_capture', 'attacker_size', 'defender_size',
       'attacker_commander', 'defender_commander', 'summer', 'location',
       'region', 'note', 'new_col'],
      dtype='object')

In [66]:
df.query('year == 298 and attacker_king =="Robb Stark"')

,name,year,battle_number,attacker_king,defender_king,attacker_1,attacker_2,attacker_4,defender_1,defender_2,...,major_capture,attacker_size,defender_size,attacker_commander,defender_commander,summer,location,region,note,new_col
3,Battle of the Green Fork,298,4,Robb Stark,Joffrey/Tommen Baratheon,Stark,Tully,NaN,Lannister,NaN,...,1.0,18000.0,20000.0,"Roose Bolton, Wylis Manderly, Medger Cerwyn, H...","Tywin Lannister, Gregor Clegane, Kevan Lannist...",1.0,Green Fork,The Riverlands,NaN,299.0
4,Battle of the Whispering Wood,298,5,Robb Stark,Joffrey/Tommen Baratheon,Stark,Tully,NaN,Lannister,NaN,...,1.0,1875.0,6000.0,"Robb Stark, Brynden Tully",Jaime Lannister,1.0,Whispering Wood,The Riverlands,NaN,299.0
5,Battle of the Camps,298,6,Robb Stark,Joffrey/Tommen Baratheon,Stark,Tully,NaN,Lannister,NaN,...,0.0,6000.0,12625.0,"Robb Stark, Tytos Blackwood, Brynden Tully","Lord Andros Brax, Forley Prester",1.0,Riverrun,The Riverlands,NaN,299.0